name: Train + Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python deps
        run: pip install -r mlops_refactor/requirements.txt

      - name: Run Dagger workflow (train)
        run: |
          dagger run -- go run dagger/main.go

      - name: Show files (debug)
        run: ls -R

      - name: Prepare model artifact for validator
        run: |
          mkdir -p model
          cp dagger/artifacts-out/lead_model_lr.pkl model/model.pkl

      - name: Upload model artifact
        uses: actions/upload-artifact@v4.4.0
        with:
          name: model
          path: model/model.pkl
          if-no-files-found: error
  test:
    runs-on: ubuntu-latest
    needs: train
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Model Inference Test Action
        uses: lasselundstenjensen/itu-sdse-project-model-validator@main
