# .github/workflows/train_test.yml
name: Train + Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python deps
        run: pip install -r mlops_refactor/requirements.txt

      - name: Run Dagger workflow (train)
        run: |
          cd dagger
          go run main.go

      - name: Show files (debug)
        run: ls -R

      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
          name: model
          path: dagger/artifacts-out/model/*
          if-no-files-found: error



  test:
    runs-on: ubuntu-latest
    needs: train
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download model artifact
        uses: actions/download-artifact@v4
        with:
          name: model
          path: ./model

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install deps
        run: pip install -r mlops_refactor/requirements.txt
        
      - name: Validate model inference
        uses: ./model-validator
        with:
          model_path: ./model